.navbar{
	background-color: rgb(14, 66, 161);		
	position:relative;			  
	width:auto;
	overflow: hidden;
	z-index: 99;
	top: 0;
	transition:0.3s;
	}
	


.navbar img{
    left:0;
	height:75px;
	width:200px;
    }
	
.navbar .Button{
	background-color:rgb(14, 66, 161)0;
	border:none;
	opacity:1;
	color:#ffffff;
	padding: 10px 25px;
	text-align:center;
	text-decoration:none;
	display:inline-block;
	font-size: 20px;
	font-family: Arial, Helvetica, sans-serif;
	cursor: pointer;
	float: right;	
	transition: all 0.5s;
	margin:0px;
	border-radius: 12px;						
	}
	
.navbar .Button:hover{
	background-color:#000000;
	font-size:24px;		
	}

	.navbar:hover{
		padding: 14px 10px;				
		}